<main>
  <p class="subTitle">Disclosure Under Regulation 46 of SEBI- LODR</p>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Details of Business</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <div
        [innerHTML]="details"
        style="color: #000000"
        class="para_content"
      ></div>
    </mat-panel-description>
  </mat-expansion-panel>

  <mat-accordion>
    <ng-container *ngFor="let item of shareholderData2">
      <mat-expansion-panel
        *ngIf="item.subHeadings && item.subHeadings.length > 0"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item.headingName }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion>
          <ng-container *ngFor="let subHeading of item.subHeadings">
            <ng-container *ngIf="item.subHeadings.length > 1">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{
                      subHeading.subHeading
                        ? subHeading.subHeading
                        : subHeading.links[0].name
                    }}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <table>
                  <tbody>
                    <tr *ngFor="let link of subHeading.links">
                      <td>
                        <a [href]="link.link" target="_blank">
                          <i class="fas fa-file-pdf"></i>{{ link.name }}
                        </a>
                      </td>
                      <td>
                        <div class="button-group">
                          <button
                            class="edit-button"
                            mat-mini-fab
                            (click)="editFile(link.id)"
                          >
                            <mat-icon>edit</mat-icon>
                          </button>
                          <button
                            class="delete-button"
                            mat-mini-fab
                            color="warn"
                            (click)="deleteFile(link.id)"
                          >
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </mat-expansion-panel>
            </ng-container>
            <ng-container
              *ngIf="
                (subHeading.subHeading === '' ||
                  subHeading.subHeading !== '') &&
                item.subHeadings.length === 1
              "
            >
              <table>
                <tbody>
                  <tr *ngFor="let link of subHeading.links">
                    <td>
                      <a [href]="link.link" target="_blank">
                        <i class="fas fa-file-pdf"></i>{{ link.name }}
                      </a>
                    </td>
                    <td>
                      <div class="button-group">
                        <button
                          class="edit-button"
                          mat-mini-fab
                          (click)="editFile(link.id)"
                        >
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button
                          class="delete-button"
                          mat-mini-fab
                          color="warn"
                          (click)="deleteFile(link.id)"
                        >
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </ng-container>
        </mat-accordion>
      </mat-expansion-panel>
      <mat-expansion-panel
        *ngIf="!item.subHeadings || item.subHeadings.length === 0"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item.headingName }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let link of item.links">
          <a [href]="link.link" target="_blank">
            <i class="fas fa-file-pdf"></i>{{ link.name }}<br />
          </a>
        </ng-container>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>

  <p class="subTitle">Other Shareholders information</p>
  <mat-accordion>
    <ng-container *ngFor="let item of shareholderData1">
      <mat-expansion-panel
        *ngIf="item.subHeadings && item.subHeadings.length > 0"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item.headingName }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion>
          <ng-container *ngFor="let subHeading of item.subHeadings">
            <ng-container *ngIf="item.subHeadings.length > 1">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{
                      subHeading.subHeading
                        ? subHeading.subHeading
                        : subHeading.links[0].name
                    }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                  <tbody>
                    <tr *ngFor="let link of subHeading.links">
                      <td>
                        <a [href]="link.link" target="_blank">
                          <i class="fas fa-file-pdf"></i>{{ link.name }}
                        </a>
                      </td>
                      <td>
                        <div class="button-group">
                          <button
                            class="edit-button"
                            mat-mini-fab
                            (click)="editFile(link.id)"
                          >
                            <mat-icon>edit</mat-icon>
                          </button>
                          <button
                            class="delete-button"
                            mat-mini-fab
                            color="warn"
                            (click)="deleteFile(link.id)"
                          >
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </mat-expansion-panel>
            </ng-container>
            <ng-container
              *ngIf="
                (subHeading.subHeading === '' ||
                  subHeading.subHeading !== '') &&
                item.subHeadings.length === 1
              "
            >
              <table>
                <tbody>
                  <tr *ngFor="let link of subHeading.links">
                    <td>
                      <a [href]="link.link" target="_blank">
                        <i class="fas fa-file-pdf"></i>{{ link.name }}
                      </a>
                    </td>
                    <td>
                      <div class="button-group">
                        <button
                          class="edit-button"
                          mat-mini-fab
                          (click)="editFile(link.id)"
                        >
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button
                          class="delete-button"
                          mat-mini-fab
                          color="warn"
                          (click)="deleteFile(link.id)"
                        >
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </ng-container>
        </mat-accordion>
      </mat-expansion-panel>
      <mat-expansion-panel
        *ngIf="!item.subHeadings || item.subHeadings.length === 0"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item.headingName }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table>
          <tbody>
            <tr *ngFor="let link of item.links">
              <td>
                <a [href]="link.link" target="_blank">
                  <i class="fas fa-file-pdf"></i>{{ link.name }}
                </a>
              </td>
              <td>
                <div class="button-group">
                  <button
                    class="edit-button"
                    mat-mini-fab
                    (click)="editFile(link.id)"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                    class="delete-button"
                    mat-mini-fab
                    color="warn"
                    (click)="deleteFile(link.id)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</main>
