<main>
  <h1>Financials</h1>
  <mat-accordion>
    <ng-container *ngFor="let item of commonData">
      <ng-container *ngIf="item.subHeadings && item.subHeadings.length > 0">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ item.headingName }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-accordion>
            <ng-container *ngFor="let subHeading of item.subHeadings">
              <ng-container *ngIf="item.subHeadings.length > 1">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{
                        subHeading.subHeading
                          ? subHeading.subHeading
                          : subHeading.links[0].name
                      }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <table>
                    <tbody>
                      <tr *ngFor="let link of subHeading.links">
                        <td>
                          <a [href]="link.link" target="_blank">
                            <i class="fas fa-file-pdf"></i>{{ link.name }}
                          </a>
                        </td>
                        <td>
                          <div class="button-group">
                            <button
                              class="edit-button"
                              mat-mini-fab
                              (click)="editFile(link.id)"
                            >
                              <mat-icon>edit</mat-icon>
                            </button>
                            <button
                              class="delete-button"
                              mat-mini-fab
                              color="warn"
                              (click)="deleteFile(link.id)"
                            >
                              <mat-icon>delete</mat-icon>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </mat-expansion-panel>
              </ng-container>
              <ng-container
                *ngIf="
                  (subHeading.subHeading === '' ||
                    subHeading.subHeading !== '') &&
                  item.subHeadings.length === 1
                "
              >
                <table>
                  <tbody>
                    <ng-container
                      *ngFor="let link of subHeading.links; let i = index"
                    >
                      <tr>
                        <td>
                          <a [href]="link.link" target="_blank">
                            <i class="fas fa-file-pdf"></i>{{ link.name }}
                          </a>
                        </td>
                        <td>
                          <div class="button-group">
                            <button
                              class="edit-button"
                              mat-mini-fab
                              (click)="editFile(link.id)"
                            >
                              <mat-icon>edit</mat-icon>
                            </button>
                            <button
                              class="delete-button"
                              mat-mini-fab
                              color="warn"
                              (click)="deleteFile(link.id)"
                            >
                              <mat-icon>delete</mat-icon>
                            </button>
                          </div>
                        </td>
                      </tr>
                      <tr *ngIf="(i + 1) % 8 === 0">
                        <td colspan="2" class="spacer">
                          <br />
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </ng-container>
            </ng-container>
          </mat-accordion>
        </mat-expansion-panel>
      </ng-container>
      <ng-container *ngIf="!item.subHeadings || item.subHeadings.length === 0">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ item.headingName }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table>
            <tbody>
              <ng-container *ngFor="let link of item.links; let i = index">
                <tr>
                  <td>
                    <a [href]="link.link" target="_blank">
                      <i class="fas fa-file-pdf"></i>{{ link.name }}
                    </a>
                  </td>
                  <td>
                    <button
                      class="edit-button"
                      mat-mini-fab
                      (click)="editFile(link.id)"
                    >
                      <mat-icon>edit</mat-icon>
                    </button>
                  </td>
                  <td>
                    <div class="button-group">
                      <button
                        class="edit-button"
                        mat-mini-fab
                        (click)="editFile(link.id)"
                      >
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button
                        class="delete-button"
                        mat-mini-fab
                        color="warn"
                        (click)="deleteFile(link.id)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="(i + 1) % 8 === 0">
                  <td colspan="2">
                    <br />
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </mat-expansion-panel>
      </ng-container>
    </ng-container>
  </mat-accordion>
</main>
